*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #232222;
  color: #fff;
}

a {
  text-decoration: none;
  color: #635e5e;
}
a:hover {
  text-decoration: underline;
  color: rgb(4, 31, 22);
}
a:active {
  color: #fff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.gap-2 {
  gap: 2rem;
}

.p-2 {
  padding: 2rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: #383838;
  color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
